server:
  servlet:
    context-path: /api

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:prices_db
    username: sa
    password: sa
    driverClassName: org.h2.Driver
  jpa:
    show-sql: true
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_schema: inditex_code_challenge